/* Set all headers to use the 'Jersey 25' font and 25px size */
header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Jersey 25', sans-serif;
    font-size: 25px;
}

header h1 {
    font-family: 'Jersey 25', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 1.5rem;
}


.game-setup {
    display: none;
    
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}